[user]
	name = milojarow
	email = ahuja@hush.com
[alias]
  acp = "!git add -u && git commit -m \"$1\" && git push"

[init]
	defaultBranch = main
[core]
	pager = bat
[pager]
	branch = false
	tag = false
	stash = false
