[user]
	name = milojarow
	email = ahuja@hush.com
[alias]
  acp = "!git add -u && git commit -m \"$1\" && git push"

[init]
	defaultBranch = main
[core]
	pager = bat
[pager]
	branch = false
	tag = false
	stash = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
