# Start D-Bus session
if test -z "$DBUS_SESSION_BUS_ADDRESS" ; then
    eval `dbus-launch --sh-syntax --exit-with-session`
fi

# Set PATH so it includes user's private bin directories
export PATH="$HOME/.scripts:$PATH"

# init xbindkeys
xbindkeys &

# Start the compositor (picom)
picom &

# Start ssh-agent
if [ ! -S ~/.ssh/ssh_auth_sock ]; then
  eval $(ssh-agent -s)
  mkdir -p ~/.ssh
  ln -sf "$SSH_AUTH_SOCK" ~/.ssh/ssh_auth_sock
fi
export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock
ssh-add -l >/dev/null || ssh-add

# start the eww daemon
eww daemon &

# start dunst
dunst &

# start polybar
polybar &

#################################################
# wallpaper section
# -- this works with `feh` and `leftwm-theme` packages
# vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

# Sets random wallpaper in every login

# Use the symlink to access the current theme directly
THEME_DIR="$HOME/.config/leftwm/themes/current"
# Find directories of wallpapers with different capitalizations
WALLPAPERS_DIR=$(find "$THEME_DIR" -type d \( -iname "wallpapers" -o -iname "Wallpapers" -o -iname "Extra_Backgrounds" \) | head -n 1)
# Check if a directory was found and use `feh` to set a random background
if [ ! -z "$WALLPAPERS_DIR" ]; then
    feh --bg-scale --randomize "$WALLPAPERS_DIR"/*.{jpg,png} &
else
    echo "Wallpaper directory not found in $THEME_DIR"
fi

# end of wallpaper section ^^^^^^^^^^^^^^^^^^^^^^
#################################################
