# Start D-Bus session
if test -z "$DBUS_SESSION_BUS_ADDRESS" ; then
    eval `dbus-launch --sh-syntax --exit-with-session`
fi

# Set PATH so it includes user's private bin directories
export PATH="$HOME/.scripts:$PATH"

# init xbindkeys
xbindkeys &

# Start the compositor (picom)
picom &

# Start ssh-agent
if [ ! -S ~/.ssh/ssh_auth_sock ]; then
  eval $(ssh-agent -s)
  mkdir -p ~/.ssh
  ln -sf "$SSH_AUTH_SOCK" ~/.ssh/ssh_auth_sock
fi
export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock
ssh-add -l >/dev/null || ssh-add

# start the eww daemon
eww daemon &

# start dunst
dunst &

# start polybar
# polybar &

#################################################
# wallpaper section
# -- Adjusted for dynamic selection within found directories
# vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

# Base theme directory which always exists
BASE_DIR="/home/milo/.config/leftwm/themes/current"

# Array of potential wallpaper directories within the base theme directory
declare -a POTENTIAL_DIRS=("wallpapers" "Wallpapers" "Extra_Backgrounds" "Backgrounds" "backgrounds")

# Initialize an array to hold directories that actually exist
declare -a EXISTING_DIRS=("$BASE_DIR") # Include BASE_DIR as a fallback

# Check each potential directory and add it to the list if it exists
for dir in "${POTENTIAL_DIRS[@]}"; do
    if [ -d "$BASE_DIR/$dir" ]; then
        EXISTING_DIRS+=("$BASE_DIR/$dir")
    fi
done

# Randomly select one of the existing directories
SELECTED_DIR=${EXISTING_DIRS[$RANDOM % ${#EXISTING_DIRS[@]}]}

# Finally, randomly select a wallpaper from the selected directory
if [ "$(ls "$SELECTED_DIR"/*.jpg "$SELECTED_DIR"/*.png 2> /dev/null)" ]; then
    feh --bg-scale --randomize "$SELECTED_DIR"/*.{jpg,png} &
else
    echo "No wallpapers found in $SELECTED_DIR"
fi

# end of wallpaper section ^^^^^^^^^^^^^^^^^^^^^^
#################################################
