[Unit]
Description=Update Archlinux Mirrorlist when connected to the Internet and two weeks have passed
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update_mirrorlist.sh
